.dark-theme {
	--header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #dcddde;
    --text-muted: #72767d;
    --text-link: #00b0f4;
    --channels-default: #8e9297;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #4f545c;
    --background-primary: #36393f;
    --background-secondary: #2f3136;
    --background-secondary-alt: #292b2f;
    --background-tertiary: #202225;
    --background-accent: #4f545c;
    --background-floating: #18191c;
    --background-mobile-primary: #36393f;
    --background-mobile-secondary: #2f3136;
    --background-modifier-hover: rgba(79,84,92,0.16);
    --background-modifier-active: rgba(79,84,92,0.24);
    --background-modifier-selected: rgba(79,84,92,0.32);
    --background-modifier-accent: hsla(0,0%,100%,0.06);
    --background-mentioned: rgba(250,166,26,0.05);
    --background-mentioned-hover: rgba(250,166,26,0.08);
    --background-message-hover: rgba(4,4,5,0.07);
    --scrollbar-thin-thumb: #202225;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #202225;
    --scrollbar-auto-track: #2e3338;
    --scrollbar-auto-scrollbar-color-thumb: #202225;
    --scrollbar-auto-scrollbar-color-track: #2f3136;
    --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
    --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
    --logo-primary: #fff;
    --focus-primary: #00b0f4;
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    --channeltextarea-background: #40444b;
    --activity-card-background: #202225;
    --textbox-markdown-syntax: #8e9297;
    --deprecated-card-bg: rgba(32,34,37,0.6);
    --deprecated-card-editable-bg: rgba(32,34,37,0.3);
    --deprecated-store-bg: #36393f;
    --deprecated-quickswitcher-input-background: #72767d;
    --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
    --deprecated-text-input-bg: rgba(0,0,0,0.1);
    --deprecated-text-input-border: rgba(0,0,0,0.3);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: #202225;
    --deprecated-text-input-prefix: #dcddde;
}

.App {
	height: 100%;
}

.Home {
	margin: 20px;
	padding: 20px;
	border: 1px solid black;
}

.signin-menu, .signup-menu {
	display: inline-block;
	padding: 10px 20px 10px 20px;
	border: 1px solid rgb(221, 104, 104);
	transition-duration: 0.2s;
}

.signup-menu {
	margin-left: 5px;
}

.signin-menu:hover, .signup-menu:hover {
	cursor: pointer;
	color: white;
	background-color: rgb(221, 104, 104);
}

.form {
	margin-top: 40px;
}

.inputs {
	margin-bottom: 20px;
}

.submit-button {
	display: inline-block;
	padding: 10px 20px;
	font-size: large;
	color: white;
	background-color: rgb(221, 104, 104);
	border: none;
	transition-duration: 0.2s;
}

.submit-button:hover {
	cursor: pointer;
	background-color: rgb(250, 96, 96);
}

.Main {
	height: 100%;
	display: grid;
	grid-template-columns: 70px auto;
	color: white;
	position: relative;
}

.AddRoomModal {
	position: absolute;
	background-color: rgb(47, 49, 54);
	width: 100%;
	height: 100%;
	z-index: 1;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.add-room-modal-header, .room-setting-modal-header {
	text-align: right;
}

.add-room-modal-body, .room-setting-modal-body {
	margin-top: 20px;
	height: 100%;
}

.JoinRoom, .CreateRoom {
	padding: 5px;
	margin-top: 10px;
}

.join-room, .create-room {
	display: inline-block;
	border: 1px solid white;
	padding: 10px;
	margin-left: 10px;
	transition-duration: 0.4s;
	font-weight: bold;
}

.join-room:hover, .create-room:hover {
	cursor: pointer;
	background-color: white;
	color: black;
}

.close-icon {
	width: 30px;
	height: auto;
	fill: rgb(126, 126, 126);
	transition-duration: 0.4s;
}

.close-icon:hover {
	cursor: pointer;
	fill: white;
}

.Rooms {
	padding: 10px;
	background-color: rgb(32, 34, 37);
	display: flex;
	flex-direction: column;
}

.icons {
	height: 60px;
	margin-bottom: 5px;
}

.add-icon, .user-icon, .logout-icon {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: #36393F;
	fill: rgb(146, 146, 146);
	transition-duration: 0.4s;
}

.add-icon:hover, .user-icon:hover, .logout-icon:hover {
	cursor: pointer;
	background-color: #515458;
	fill: rgb(192, 192, 192);
}

.rooms {
	height: 100%;
}

.EachRoom {
	margin-bottom: 10px;
	height: 50px;
	position: relative;
}

.room-images {
	display: block;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: #36393F;
	transition-duration: 0.4s;
}

.room-images:hover {
	cursor: pointer;
	background-color: #515458;
}

.EachRoom:hover .room-name {
	visibility: visible;
}

.room-name {
	visibility: hidden;
	width: 120px;
	background-color: black;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	position: absolute;
	z-index: 1;
	top: 24%;
	left: 120%;
}

.room-name:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent black transparent transparent;
}

.InRoom {
	display: flex;
	flex-direction: row;
	position: relative;
}

.EmptyRoom {
	color: rgb(167, 167, 167);
	background-color: rgb(47, 49, 54);
	text-align: center;
	position: relative;
}

.EmptyRoom p {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.Channels {
	width: 240px;
	height: 100%;
	background-color: rgb(47, 49, 54);
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
}

.ChannelsHeader {
	flex-basis: 50px;
	text-align: center;
	padding: 8px;
	font-size: 20px;
	border-bottom: 1px solid rgb(71, 71, 71);
}

.ChannelsHeader p {
	font-size: 10px;
	color: rgb(207, 207, 207);
}

.ChannelsBody {
	height: 100%;
	padding: 8px;
	font-size: 15px;
}

.EachChannel {
	margin-bottom: 10px;
	color: rgb(175, 175, 175);
}

.EachChannel:hover {
	cursor: pointer;
	color: white;
	background-color: rgb(54, 57, 63);
}

.ChannelsFooter {
	height: 52px;
	background-color: #202225;
	padding: 8px;
	text-align: right;
}

.setting-icon {
	height: 40px;
	width: 40px;
	padding: 5px;
	fill: rgb(146, 146, 146);
	transition-duration: 0.4s;
}

.setting-icon:hover {
	cursor: pointer;
	fill: white;
}

.InChannel {
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}

.RoomSettingModal {
	position: absolute;
	background-color: rgb(47, 49, 54);
	width: 100%;
	height: 100%;
	z-index: 1;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.EmptyChannel {
	color: rgb(167, 167, 167);
	background-color: rgb(54, 57, 63);
	height: 100%;
	text-align: center;
	position: relative;
}

.EmptyChannel p {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.InChannelHeader {
	background-color: #36393f;
	height: 48px;
	padding: 8px;
	font-size: 20px;
	border-bottom: 1px solid black;
}

.InChannelBody {
	height: 100%;
	display: flex;
	flex-direction: row;
}

.ChatWindow {
	width: 100%;
	background-color: rgb(54, 57, 63);
	display: flex;
	flex-direction: column;
}

.Messages {
	height: 90%;
	padding: 8px;
	overflow-y: scroll;
}

.Messages::-webkit-scrollbar {
	width: 10px;
	transition-duration: 1s;
}

.Messages::-webkit-scrollbar:hover {
	background-color: rgb(168, 168, 168);
}

.Messages::-webkit-scrollbar-thumb:hover {
	background-color: rgb(92, 92, 92);
}

.EachMessage {
	margin-bottom: 20px;
}

.MessageInput {
	height: 52px;
	padding: 8px;
	display: flex;
	flex-direction: row;
}

.message-input {
	width: 100%;
	height: 30px;
	margin-right: 10px;
	padding: 5px;
}

.send-button {
	display: inline-block;
	width: 70px;
	height: 30px;
	background-color: #202225 ;
	color: white;
	border: none;
	transition-duration: 0.4;
}

.send-button:hover {
	cursor: pointer;
	background-color: #55585c;
}

.Members {
	width: 240px;
	background-color: #2F3136;
}
