.App {
  height: 100%;
}

.Home {
  margin: 50px;
  padding: 20px;
  border: 1px solid black;
}

.signin-menu, .signup-menu {
  display: inline-block;
  padding: 10px 20px 10px 20px;
  border: 1px solid rgb(221, 104, 104);
  transition-duration: 0.2s;
}

.signup-menu {
  margin-left: 5px;
}

.signin-menu:hover, .signup-menu:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(221, 104, 104);
}

.form {
  margin-top: 40px;
}

.inputs {
  margin-bottom: 20px;
}

.submit-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: large;
  color: white;
  background-color: rgb(221, 104, 104);
  border: none;
  transition-duration: 0.2s;
}

.submit-button:hover {
  cursor: pointer;
  background-color: rgb(250, 96, 96);
}
